<h1>Active Alarms</h1>
<% @alarms.each do |alarm| %>
    <% if alarm.active %>
      <ul>
        <li>Kaiju: <%= alarm.kaiju %>. Created at <%= alarm.created_at %></li>
          <li>
            the alarm is currently active <%= link_to "DEACTIVATE", alarm_path(alarm), :method => :patch %>
          </li>
      </ul>
  <% else %>
    <ul>
      <li>Kaiju: <%= alarm.kaiju %>. Created at <%= alarm.created_at %></li>
        <li>
          the alarm is currently inactive <%= link_to "ACTIVATE", alarm_path(alarm), :method => :patch %>
          <%= link_to "REMOVE ALARM", alarm_path(alarm), :method => :delete, :class => "btn btn-danger btn-xs" %>
        </li>
    </ul>
  <% end %>

<% end %>

<%= link_to "New Alarm", new_alarm_path %>
